logs/
ssl/cert.pem
ssl/chain.pem
ssl/dhparams.pem
ssl/key.pem
server-configs/database.php
server-configs/config.php
server-configs/bootstrap.php
server-configs/core.php
server-configs/config.php.bk
files/INIT
files/[0-9]*
