language: minimal

env:
  - DOCKER_COMPOSE_VERSION=1.25.3

before_install:
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` | sudo tee /usr/local/bin/docker-compose >/dev/null
  - chmod +x /usr/local/bin/docker-compose

script:
  - docker-compose -f docker-compose.yml -f build-docker-compose.yml build

