version: '3'
services:
  redis:
    image: redis:5.0.6

  db:
    image: mysql:8.0.19
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      - "MYSQL_USER=misp"
      - "MYSQL_PASSWORD=example"
      - "MYSQL_ROOT_PASSWORD=password"
      - "MYSQL_DATABASE=misp"

  misp:
    image: coolacid/docker-misp:core-latest
    build:
        context: server/.
        args:
            - MISP_TAG=${MISP_TAG}
            - PHP_VER=${PHP_VER}
    depends_on:
      - redis
      - db
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "./server-configs/:/var/www/MISP/app/Config/"
      - "./logs/:/var/www/MISP/app/tmp/logs/"
      - "./files/:/var/www/MISP/app/files"
      - "./ssl/:/etc/apache2/ssl/"
    environment:
      - "CRON_USER_ID=1"
      - "REDIS_FQDN=redis"
      - "MYSQL_PASSWORD=example"
      - "HOSTNAME=https://localhost"
      - "INIT=true" # Initialze MISP, things includes, attempting to import SQL and the Files DIR

  misp-modules:
    image: coolacid/docker-misp:modules-latest
    build:
        context: modules/.
        args:
            - MISP_TAG=${MISP_TAG}
    environment:
      - "REDIS_BACKEND=redis"
    depends_on:
      - redis
      - db

